 *{
    box-sizing: border-box;
}

body {
    font-size: 120%;
    background-color: grey;
}

h1{
    text-align:center;
    color: blue;
}

header li{
    list-style: none;
    
}

a:link, a:visited{
    color: black;
    text-decoration: none;
    background-color:darkcyan;
    border: 1px solid chocolate;
    width: 200px;
    text-align: center;
    display: block;
}

a:hover, a:active{
    background-color:darkorchid;
    color: white;
    font-size: 20px;
}


li:nth-child(3){
    font-size: 20px;
}

section > div:nth-child(odd){
    background-color: darksalmon;
    font-size: 20px;
    width: 200px;
}
section > div:nth-child(even){
    background-color:dimgray;
    font-size: 20px;
    width: 200px;
}

section > div:nth-child(odd):hover{
    background-color: green;
    font-size: 20px;
    width: 200px;
}




.style {
    font-family: Arial, Helvetica, sans-serif;
    color: #0000ff;
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    text-align: right;
}

#box{
    background-color: blue;
    width: 400px;
    height: 100px;
    padding: 10px;
    border: 3px solid black;
    margin: 20px;
    overflow: auto;

}

#content{
    background-color: #90EE90;
    padding: 10px;
    margin: 20px;
   text-align: justify;
} 

#bg{
    width: 500px;
    height: 500px;
    background-color: blue;
    background-image: url("passport.jpg") ;
    background-repeat: no-repeat;
    background-position: right;
    
}

div {
    background-color: #00FFFF;
}

p {
    width: 50%;
    border: 1px solid black;
    float: left;
    padding: 10px;

}

#p1 {
   /* background-color: #A52A2A;*/
    

}
#p2 {
   /* background-color: #DEB887; */
    
}
#p3 {
   background-color: #5F9EA0;
   clear: both;
  
   
} 

#p4{
    background-color: #FF7F50;
}

section{
    clear: left;
}
