  *{
    box-sizing: border-box;
}
/*

body {
    font-size: 120%;
    background-color: grey;
}

h1{
    text-align:center;
    color: blue;
}

header li{
    list-style: none;
    
}

a:link, a:visited{
    color: black;
    text-decoration: none;
    background-color:darkcyan;
    border: 1px solid chocolate;
    width: 200px;
    text-align: center;
    display: block;
}

a:hover, a:active{
    background-color:darkorchid;
    color: white;
    font-size: 20px;
}


li:nth-child(3){
    font-size: 20px;
}

section > div:nth-child(odd){
    background-color: darksalmon;
    font-size: 20px;
    width: 200px;
}
section > div:nth-child(even){
    background-color:dimgray;
    font-size: 20px;
    width: 200px;
}

section > div:nth-child(odd):hover{
    background-color: green;
    font-size: 20px;
    width: 200px;
}




.style {
    font-family: Arial, Helvetica, sans-serif;
    color: #0000ff;
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    text-align: right;
}

#box{
    background-color: blue;
    width: 400px;
    height: 100px;
    padding: 10px;
    border: 3px solid black;
    margin: 20px;
    overflow: auto;

}

#content{
    background-color: #90EE90;
    padding: 10px;
    margin: 20px;
   text-align: justify;
} 

#bg{
    width: 500px;
    height: 500px;
    background-color: blue;
    background-image: url("passport.jpg") ;
    background-repeat: no-repeat;
    background-position: right;
    
}

div {
    background-color: #00FFFF;
}

p {

}

#p1 {
   background-color: #A52A2A;
   width: 300px;
   height: 300px;
    

}

#p2 {
    background-color: #DEB887; 
    width: 50px;
    height: 50px;
    
}

@media (min-width: 1200px){
    #p1{
        width: 80%;
    }
    #p2{
        width: 150%;
        
    }
}
#p3 {
   background-color: #5F9EA0;
   clear: both;
  
   
} 

#p4{
    background-color: #FF7F50;
}

section{
    clear: left;
}
 

 p {
    border: 1px solid black;
    background-color: #A52A2A;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.row{
    width: 100%;
}

@media (min-width:1200px){
    .col-lg-1,.col-lg-2, .col-lg-3, .col-lg-4,
    .col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,
    .col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
        float: left;
        border: 1px solid green;
    }
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
       width: 25%;
    }
    .col-lg-4{
        width: 33.33%;
     }
    .col-lg-5{
        width: 41.66%;
     }
    .col-lg-6{
        width: 50%;
     }
    .col-lg-7{
        width: 58.33%;
     }
     .col-lg-8{
        width: 66.66%;
     }
    .col-lg-9{
        width: 75%;
     }
    .col-lg-10{
        width: 83.33%;
     }
    .col-lg-11{
        width: 91.66%;
     }
    .col-lg-12{
        width: 100%;
     }
}

@media (min-width: 950px) and (max-width: 1199px) {
    .col-md-1,.col-md-2, .col-md-3, .col-md-4,
    .col-md-5,.col-md-6,.col-md-7,.col-md-8,
    .col-md-9,.col-md-10,.col-md-11,.col-md-12 {
        float: left;
        border: 1px solid green;
    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
       width: 25%;
    }
    .col-md-4{
        width: 33.33%;
     }
    .col-md-5{
        width: 41.66%;
     }
    .col-md-6{
        width: 50%;
     }
    .col-md-7{
        width: 58.33%;
     }
     .col-md-8{
        width: 66.66%;
     }
    .col-md-9{
        width: 75%;
     }
    .col-md-10{
        width: 83.33%;
     }
    .col-md-11{
        width: 91.66%;
     }
    .col-md-12{
        width: 100%;
     }
}*/


body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family:  'Oxygen', sans-serif;
}


#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    height: 150px;
    
}




#logo-img {
    background: url('../passport.jpg') no-repeat;
    width: 130px;
    height: 130px;
    margin: 10px 15px 10px 0;
   
}

.pull-left {
    float: left;
}
.navbar-brand {
    padding-top: 25px;
    
    
}
.navbar-brand h1{
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a{
    text-decoration: none;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand p{
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
    display: flex;
    align-items: center;
}



